.feature-area{
    .feature-wrapper{
        .single-feature{
            .feature-icon{
                padding-top: 10px;
            }
            .feature-contain{
                .feature-title{
                    h2{
                        @include font($main-font, 26, 400);
                        @include text($title-color, capitalize, 30px);
                        margin-bottom: 6px;
                        transition: all .4s ease-in-out;
                        @include respond-between(md, lg) {
                            font-size: 22px;
  
                        }
                        @include respond-between(sm, md) {
                            font-size: 20px;
                          
                        }
                        @include respond-between(xs, sm) {
                          font-size: 18px;
                        }
                        @include respond-below(xs) {
                            font-size: 16px;
                        }
                    }
                }
                .feature-discrip{
                    p{
                        @include para-style;
                    }
                }
            }
            &:hover .feature-title h2{
                color: $main-color;
            }
        }
    }
}