.scroll-top-area{
    position: fixed;
    bottom: 60px;
    right: 40px;
    .scroll-top{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: $secondary-bg;
        .icon{
            i{
                font-size: 20px;
                color: $white-color;
            }
        }
    }
}